@charset 'utf-8';
@import './fonts';
@import './variables';
@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/font-awesome/scss/font-awesome';
@import './vendor/timeline';

* { box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: $family-primary;
}

.logo {
  color: $primary;
  font-size: $size-5;
  font-weight: bold;
}

a.navbar-item.is-active:not(:hover), .navbar-link.is-active:not(:hover) {
  background-color: transparentize($primary, 0.9);
  color: $primary;
}

a.navbar-item.is-active:hover, .navbar-link.is-active:hover {
  color: $primary;
}

a.navbar-item.is-active, .navbar-link.is-active {
  color: findColorInvert($primary);
}

.trip-switcher {
  margin-bottom: 1rem;
}
